# =========================
# Python / Django
# =========================
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
*.log

# Archivos de entorno
.env
*.env
venv/
.conda/

# Archivos de Django
staticfiles/
media/

# =========================
# Node / Tailwind
# =========================
node_modules/
package-lock.json

# Archivos generados por Tailwind (se compilan, no se suben)
static/css/output.css

# =========================
# IDEs y Sistema
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db
